/*-- Background colour --*/
body {
    background: #ffffff;
}

/*-- Margins and width --*/
section, header {
    width: 80%;
    max-width: 900px;
    margin: auto;
}

section, header {
    margin-bottom: 4rem;

}

/*-- Fonts and font colours --*/
header, h2, blockquote {
    font-family: "Noto Serif", serif;
    color: #740030;
    font-weight: 500;
}

section{
    font-family: "Noto Sans", sans-serif;
}

header, blockquote {
          color: #740030;
}

strong {
          color: #c04362;
          font-size: 1.562rem;
}

hr {
    background-color: #740030;
    height: 3px;
}

h1 {
    font-size: 4.768rem;
    line-height: 1;
    font-family: "Italianno", cursive;
    font-weight: 100;
    color: #740030;
}


header h2{
    font-size: 1.953rem;
    font-style:oblique
}

h2 {
    margin-top: 5%;
}

footer h2 {
    margin-top: 2%;
}

header p {
    font-size: 1.562rem;
}

blockquote {
    font-size: 1.562rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.45rem;
}

/*-- Spacing --*/
body, blockquote, header p {
    line-height: 160%
}

@media (max-width: 600px) {
    blockquote {
        line-height: 120%;
    }
}

/*-- Hyperlinks --*/
a {
    color: #740030;
    font-weight: 700px;
    text-decoration: wavy;
}

a:hover {
    color: #290011;
}

/*-- NAVIGATION BAR --*/
/*-- Styling --*/
.responsivenav {
    background-color: #FBE8B5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 5px;
    font-size: 1.2rem;
}

#logo {
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    padding-left:50px;
}

nav{
    text-align: right;
    padding: 1.5rem 0;
}

/*-- Styling the Navigation List --*/

nav ul {
    text-align: right;
    text-transform: capitalize;
    letter-spacing: 1px;
    list-style-type: none;
    padding-right:50x;
}

nav ul li{
    display: inline;
    margin: 5px;
}

/*-- Styling nav hyperlinks --*/
nav a{
    border-bottom: none;
    color: #8f2c45;
    padding: 10px;
}

nav a:hover {
    transition: all 1s ease-in-out;
}

/*-- Navigation bar mobile layout --*/
@media (max-width: 700px){
    .responsivenav{
    flex-direction: column;
    align-items: flex-start;
    }
    #logo {
        padding-left: 30px;
    }
}

/*-- FOOTER --*/
/*-- Styling the footer --*/
footer {
    text-align: center;
    align-items: center;
    background-color: #FBE8B5;
    padding: 10px;
}

/*--Styling the quotes background --*/
.quote {
    background-color: #FBE8B5;
    padding: 20px;
}

/* Making larger text responsive for small screens*/
@media (max-width: 500px) {
  .quote p{
    font-size: 1rem;
  }
  header p{
    font-size: 1rem;
  }
}

/*-- IMAGES --*/
/*-- Styling images --*/

img{
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0%;
}

hr {
    max-width: 900px;
    width: 80% ;
}

/*-- Creating responsive images--*/
.gridimage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .gridimage{
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .gridimage{
        max-width: 200px; 
   }
}
